@layer reset, base;

@layer reset {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}

@layer base {

    @view-transition {
        navigation: auto;
    }

    @font-face {
        font-family: "Clash Display"; 
        src: url(../assets/fonts/ClashDisplay-Variable.woff2) format("woff2-variations"); 
        font-display: swap;
    }
    @font-face {
        font-family: "Satoshi"; 
        src: url(../assets/fonts/Satoshi-Variable.woff2) format("woff2-variations"); 
        font-display: swap;
    }

    :root {
        --background-color: #f6f5f3;
        --background-highlight: #1f1f1f;
        --text-color: #6e6e73;
        --text-color-hover: #55555a;
        --text-color-active: #3d3d40;
        --heading-text-color: #2f2f32;
        --border-settings: 2px solid #b1b1b6;
        --border-radius: 0.5rem;
    }

    
    body {
        font-family:'Satoshi', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100dvh;
        background-color: var(--background-color, white);
        color: var(--heading-text-color, black);
    }

    h1,h2,h3,h4,h5,h6 {
        font-family: 'Clash Display', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        line-height: 1.15;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }
    p {
        margin-bottom: 1rem;
    }
    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    picture img {
        border: var(--border-settings, 1px solid black);
        border-radius: var(--border-radius, 0.5rem);
    }
    svg path {
        fill: var(--heading-text-color, black);
    }
}