@layer reset, base;

@layer reset {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}

@layer base {

    @view-transition {
        navigation: auto;
    }

    main {
        view-transition-name: main;
    }

    @keyframes fade-out-main {
        from {
            opacity: 1;
            transform: translateY(0);
        }
        to {
            opacity: 0;
            transform: translateY(40px);
        }
    }
    @keyframes fade-in-main {
        from {
            opacity: 0;
            transform: translateY(40px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    ::view-transition-old(main) {
        animation: 0.2s ease-out both fade-out-main;
    }


    ::view-transition-new(main) {
        animation: 0.4s ease-out both fade-in-main;
    }

    ::view-transition-old(main),
    ::view-transition-new(main) {
    /* keep background consistent while animating */
        background: transparent;
    }

    @font-face {
        font-family: "Sentient"; 
        src: url(../assets/fonts/Sentient-Variable.woff2) format("woff2-variations"); 
        font-display: swap;
    }
    @font-face {
        font-family: "Zodiak"; 
        src: url(../assets/fonts/Zodiak-Variable.woff2) format("woff2-variations"); 
        font-display: swap;
    }

    :root {
        --background-color: #1f1f1f;
        --background-highlight: #f4f3f2;
        --text-color: #b1b1b6;
        --text-color-hover: #d1d1d6;
        --text-color-active: #e4e4e8;
        --heading-text-color: #f5f5f7;
        --border-settings: 2px solid #6e6e73;
        --border-radius: 0.5rem;
    }

    
    body {
        font-family:'Sentient', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100dvh;
        background-color: var(--background-color, white);
        color: var(--heading-text-color, black);
    }

    h1,h2,h3,h4,h5,h6 {
        font-family: 'Zodiak', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        line-height: 1.15;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }
    p {
        margin-bottom: 1rem;
    }
    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    picture img {
        border: var(--border-settings, 1px solid black);
        border-radius: var(--border-radius, 0.5rem);
    }
    svg path {
        fill: var(--heading-text-color, black);
    }
}