---
import Layout from '../layouts/Layout.astro';
const pageTitle = "About Me";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout pageTitle = {pageTitle}>
    <p>Hi, I'm Cory! This is a quick website I created for my CSE 134B class at UCSD, where we had to make a website using Astro. Thanks for checking it out!</p>
</Layout>
